
.content {
  font-family: monospace;
  width: em(440);
  margin: 2em auto;
  padding: 0 0.5em;
  border-radius: .25em;
  counter-reset: line;
}

.content span {
    line-height: 1.0rem;
}

.content span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888;
    -webkit-user-select: none;
}
