
pre {
  font-family: monospace;
  width: em(440);
  margin: 1em auto;
  padding: 1em 1.5em;
  border-radius: .25em;
  counter-reset: line;
}

pre span {
    line-height: 1.0rem;
}

pre span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888;
    -webkit-user-select: none;
}

a {
   text-decoration: none;
}

a:hover {
  border-bottom: 3px dotted #29bf12;
  text-decoration: none;
  text-shadow:0 0 5px rgba(104,182,255,0.5)
}
